<div id="<%= dom_id tweet %>">
  <p>
    <strong>Tweet body:</strong>
    <%= tweet.tweet_body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tweet.user_id %>
  </p>

  <p>
    <strong>Reply at tweet:</strong>
    <%= tweet.reply_at_tweet_id %>
  </p>

</div>
